<% content_for :header do %>
  <section class="hero is-warning">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Browse the lastest instruments on TQV shop
        </h1>
      </div>
    </div>
  </section>
<% end %>

<div class="instrument-index-grid pt20">
  <% @instruments.each do |f| %>

    <div class="instrument border-light">
      <div class="instrument-thumb">
        <%= link_to image_tag(f.image_url(:thumb)), f %>
        <% if f.condition? %>
          <div class="condition">
            <span class="tag is-dark"><%= f.condition %></span>
          </div>
        <% end %>
      </div>
    

      <div class="pa3">
        <h3 class="fw7 f4 title"><%= link_to f.title %></h3>
        <p class="has-text-gray fg pt1">Sold by <%= f.user.name %></p>
        <p class="f3 fw6 has-text-right pt2 price"><%= number_to_currency(f.price) %></p>

        <% if instrument_author(f) %>
          <%= link_to 'Edit', edit_instrument_path(f), class: "button is-small" %>
          <%= link_to 'Delete', instrument_path(f), method: :delete, data: { confirm: "Are you sure?" }, class: "button is-small is-danger" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>